@import url(../style/fonts.css);

.footer {
    background: #282828;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
    margin-top: 81px;
}

.footer-address__logo {
    margin-bottom: 81px;
    margin-top: 81px;
}

.footer-address__list {

    color: #FFF;
    text-align: right;
    font-family: 'MM';
    font-size: 20px;
    line-height: 24px;
}

.footer-address__link {
    margin-bottom: 81px;
    margin-top: 81px;
    display: flex;
    align-items: center;
}

.footer-address__listt {
    color: #FFF;
    text-align: right;
    font-family: 'MM';
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-btn {
    margin-bottom: 81px;
    margin-top: 81px;
}